{% extends "base.html" %}

{% load static %}

{% block main_content %}

    <div class="edit-delete edit-photo">

        <h2>Delete pet</h2>

        <form action="{% url 'delete pet' username=username pet_slug=pet.slug %}" method="post">
            {{ pet_form.as_p }}

            <button class="delete-btn" type="submit" onclick="if (!confirm('Are you sure you want to delete?')) { return false }">
                <span>Delete</span>
            </button>
            {#<button class="delete-btn" type="submit">Delete</button>#}

            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>

            {% csrf_token %}
        </form>

    </div>

{% endblock %}
